#####################################################################
# 	Thermistors
#####################################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor chamber]
sensor_type: ATC Semitec 104GT-2 
sensor_pin: z:P0.24


#####################################################################
# Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - Z board, Fan Pin
heater_pin: z:P2.3
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: z:P0.25
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
## Uncomment below if ligts flicker
#pwm_cycle_time: 0.0166

#control = pid
#pid_Kp=37.226 
#pid_Ki=1.205 
#pid_Kd=287.571
