#####################################################################
# Extruder
#####################################################################

#	E0 on MCU X/Y
[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2

##	16 microsteps Mobius 3 ~= 0.00180
##	Update value below when you perform extruder calibration
##	Higher value means less filament extruded
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	step_distance = 98 / 100 * step_distance_old
##  0.00240 a good starting value for Afterburner, 0.00180 for Mobius
#step_distance: 0.00235
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
##rotation_distance: 22.6789511	#OLD KVP setting
rotation_distance: 12.648125
gear_ratio: 50:17				#BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 101
max_extrude_cross_section: 5.0
heater_pin: EBBCan: PB13
sensor_type: ATC Semitec 104GT-2
sensor_pin: EBBCan: PA3
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
# control = pid
# pid_kp = 26.213
# pid_ki = 1.304
# pid_kd = 131.721
##	Try to keep pressure_advance below 1.0
#Dragon 0.4mm nozzle : pressure_advance: 0.066
# pressure_advance: 0.02
##	Default is 0.040, leave stock
# pressure_advance_smooth_time: 0.040

##	E0 on MCU X/Y
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: EBBCan: PA15
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# Probe
#####################################################################

[probe]
pin: EBBCan: PB5
x_offset: 0
y_offset: 0
# z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3


activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
    
#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[homing_override]
axes: xyz
gcode:
    STATUS_HOMING                                                                             ; Set status to homing
    # {% set x_mid = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}      ; Get X midpoint
    # {% set y_mid = printer.configfile.config["stepper_y"]["position_max"]|float / 2.0 %}      ; Get Y midpoint
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}        ; Check if all axes are being homed
    # {% set z_pos = printer.toolhead.position.z %}                                             ; Get current Z position

    # If Z-axis is not homed, a full homed sequence will be run. Comment out the 'Safety On' line below if this is not desired.
    # {% if "z" not in printer.toolhead.homed_axes %}        ; Check if Z not already homed
    #     {% set Home_ALL = 'Safety On' %}                   ; ! THIS WILL HOME ALL AXIS IF Z IS NOT HOMED, COMMENT OUT IF THIS IS NOT DESIRED !
    #     SET_KINEMATIC_POSITION Z=0                         ; Reset Z position to 0
    #     G0 Z5 F3600                                       ; Raise toolhead 10mm since unknown/not homed
    #     M18 Z                                              ; Disable Z stepper to ensure a false-homed status is not set
    #   {% else %}                                           ; IF Z is already homed
    #     {% if Z_POS < 10 %}                                ; Check if Z is below 10mm
    #         G90                                            ; Absolute positioning
    #         G0 Z10                                         ; If Z was below 10mm, raise to 10mm for safety
    #       {% else %}                                       ; IF Z is already above 10mm
    #         G91                                            ; Relative positioning
    #         G0 Z1 F3600                                    ; If Z was above 10mm, raise by 1mm for safety
    #         G90                                            ; Absolute positioning
    #     {% endif %}                                        ; End Z position check
    # {% endif %}                                            ; End Z homed check

    # G91
    # G0 Z10
  
    {% if home_all or 'X' in params %}                     ; If 'Home_ALL' is set, or 'X' is in params, then home X
        G28 X                                              ; Home X
        G1 X290 F3600                                      ; Backoff toolhead 10mm
    {% endif %}                                            ; End X homing check

    {% if home_all or 'Y' in params %}                     ; If 'Home_ALL' is set, or 'Y' is in params, then home Y
        G28 Y                                              ; Home Y
        G1 Y290 F3600                                      ; Backoff toolhead 10mm
    {% endif %}                                            ; End Y homing check
  
    {% if home_all or 'Z' in params %}                     ; If 'Home_ALL' is set, or 'Z' is in params, then home Z
        G90                                                ; Absolute positioning
        # G0 Z5 F600                                       ; Move Z up by 5
        G0 X150 Y150 F12000                                ; Move to printer center
        G28 Z                                              ; Home Z
        G1 Z10 F1200                                       ; Raise toolhead 10mm
    {% endif %}                                            ; End Z homing check

    STATUS_READY                                           ; Set status to ready
    # SET_NOZZLE_LEDS_ON                                     ; Turn on nozzle LEDs
 
[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	50,50
	50,250
	250,250
	250,50
speed: 100
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.005
max_adjust: 20

[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 0, 0
mesh_max: 300,300
fade_start: 0.6
fade_end: 10.0
probe_count: 8,8
algorithm: bicubic
relative_reference_index: 24
